<!DOCTYPE html>
<html> 
    <title>login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <body>
    
    <div class="w3-card-4">
      <div class="w3-container w3-brown">
        <h2>Iniciar Sesion</h2>
      </div>
      <form class="w3-container" method="POST">
        <p>      
        <label class="w3-text-brown"><b>Usuario</b></label>
        <input class="w3-input w3-border w3-sand" name="usuario" type="text"></p>
        <p>      
        <label class="w3-text-brown"><b>Contraseña</b></label>
        <input class="w3-input w3-border w3-sand" name="contrasena" type="password"></p>
        <p>
        <button class="w3-btn w3-brown">Ingresar</button></p>
        <p>
        <a href="registro" class="w3-bar-item w3-button-brown"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Registrate</font></font></a> </p>
        <p>
          <a href="recuperar" class="w3-bar-item w3-button-brown"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">¿olvido su contraseña?</font></font></a> </p>
        <p>
          <a href="/" class="w3-bar-item w3-button-brown"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Regresar</font></font></a></p>
      </form>
      {% if error != None %}
        <div class="w3-panel w3-red">
            <h3>¡Error!</h3>
          <p>Usuario o contraseña invalida.</p>
        </div>
      {% endif %}
    </div>
    
    </body>
    </html> 
    