<!DOCTYPE html>
<html> 
    <title>Modificar Perfil</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <body>
    
    <div class="w3-card-4">
      <div class="w3-container w3-brown">
        <h2>Modificar Perfil</h2>
        <h4>Llene los campos que desea modificar</h4>
      </div>
      <form class="w3-container" method="POST">
        <p>      
        <label class="w3-text-brown"><b>Nombre</b></label>
        <input class="w3-input w3-border w3-sand" name="modnombre" type="text">
        </p>
        <p>      
        <label class="w3-text-brown"><b>Apellido</b></label>
        <input class="w3-input w3-border w3-sand" name="modapellido" type="text">
        </p>
        <p>      
        <label class="w3-text-brown"><b>Usuario</b></label>
        <input class="w3-input w3-border w3-sand" name="modusuario" type="text">
        </p>
        <p>      
        <label class="w3-text-brown"><b>Contraseña</b></label>
        <input class="w3-input w3-border w3-sand" name="modcontrasena" type="password">
        </p>
        <p> 
        <!-- <button class="w3-btn w3-brown">Confirmar</button> -->
        <input class="w3-button w3-brown" type="submit" value="confirmar"> 
        </p>
        <p>
          <a href="/" class="w3-bar-item w3-button-brown"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Regresar</font></font></a></p>
      </form>
      {% if repetido == 'Nombre de Usuario registrado' %}
        <div class="w3-panel w3-red">
          <h3>¡Error!</h3>
          <p>{{repetido}}</p>
        </div>
      {% endif %}
    </div>
    </body>
    </html>