<!DOCTYPE html>
<html> 
    <title>modificar Receta</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <body>
    
    <div class="w3-card-4">
      <div class="w3-container w3-brown">
        <h2>modificar Receta</h2>
      </div>
      <form class="w3-container" method="POST">
        <p>      
        <label class="w3-text-brown"><b>Titulo de la receta a modificar</b></label>
        <input class="w3-input w3-border w3-sand" name="tituloamodificar" type="text">
        </p>
        <p>
        <center><label class="w3-text-brown"><b>Ingrese los datos que desea modificar:</b></label></center>
        </p> 
        <p>      
            <label class="w3-text-brown"><b>Titulo</b></label>
            <input class="w3-input w3-border w3-sand" name="titulo" type="text">
        </p> 
        <p>      
        <label class="w3-text-brown"><b>Resumen</b></label>
        <textarea class="w3-input w3-border w3-sand" name="resumen" type="text"></textarea>
        </p>
        <p>      
        <label class="w3-text-brown"><b>Ingredientes</b></label>
        <textarea class="w3-input w3-border w3-sand" name="ingredientes" type="text"></textarea>
        </p>
        <p>      
        <label class="w3-text-brown"><b>Procedimiento</b></label>
        <textarea class="w3-input w3-border w3-sand" name="procedimiento" type="text"></textarea>
        </p>
        <p>      
        <label class="w3-text-brown"><b>Tiempo de preparacion</b></label>
        <input class="w3-input w3-border w3-sand" name="tiempo_de_preparacion" type="text">
        </p>
        <p>      
        <label class="w3-text-brown"><b>Imagen</b></label>
        <input class="w3-input w3-border w3-sand" name="imagen" placeholder="Ingresar URL de la imagen" type="text">
        </p>
        <p> 
        <!-- <button class="w3-btn w3-brown">Confirmar</button> -->
        <input class="w3-button w3-brown" type="submit" value="confirmar"> 
        </p>
        <p>
          <a href="/menuadmin" class="w3-bar-item w3-button-brown"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Regresar</font></font></a></p>
        </form>
        {% if error != None %}
        <div class="w3-panel w3-red">
            <h3>¡Error!</h3>
          <p>Receta no encontrada</p>
        </div>
      {% endif %}
    </div>
    </body>
    </html>